<h1>Listing bcards</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Desc</th>
    <th>Phone</th>
    <th>Website</th>
    <th>City</th>
    <th>State</th>
    <th>Contact name</th>
    <th>Contact pos</th>
    <th>Contact email</th>
    <th>Contact tel</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bcards.each do |bcard| %>
  <tr>
    <td><%= bcard.company %></td>
    <td><%= bcard.desc %></td>
    <td><%= bcard.phone %></td>
    <td><%= bcard.website %></td>
    <td><%= bcard.city %></td>
    <td><%= bcard.state %></td>
    <td><%= bcard.contact_name %></td>
    <td><%= bcard.contact_pos %></td>
    <td><%= bcard.contact_email %></td>
    <td><%= bcard.contact_tel %></td>
    <td><%= link_to 'Show', bcard %></td>
    <td><%= link_to 'Edit', edit_bcard_path(bcard) %></td>
    <td><%= link_to 'Destroy', bcard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bcard', new_bcard_path %>
